body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


header {
  margin: 30px 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4.8rem!important;
}

.contenido {
  padding:20px;
}
.contenido-principal {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}